extends ../layout

block content
  if !user.profile.isAdmin
    h1 Sorry you are not authorised to view this page!
  else
    .menu
      ul
        li.adminMenu
          .col-sml-2
            a(href='/admin/addUser')
              img(src='/images/add.png')
            p Add new user
        li.adminMenu
          .col-sml-2
            a(href='/admin/newPost')
              img(src='/images/add.png')
            p Add new blog post
        li.adminMenu
          .col-sml-2
            a(href='/admin/viewPosts')
              img(src='/images/view.png')
            p View/edit blog posts
        li.adminMenu
          .col-sml-2
          img(src='/images/add.png')
          p Add/edit transport timetable
        li.adminMenu
          .col-sml-2
          img(src='/images/add.png')
          p Add/edit facilities
        li.adminMenu
          .col-sml-2
          img(src='/images/add.png')
          p Add new event