extends ../layout

block content

  h2 #{blogPost.title}
  .col-xs-12
    p(contenteditable='true') #{blogPost.body}
      .form.col-md-12
        form.form-horizontal(action='./newPost',method='post')
        .form-group
          button.col-xs-12.col-md-offset-9.col-md-3.btn.btn-success(type='submit') Update post