extends layout

block content
  h1 The Park Island Hub
  p.lead The only place a Park Islander needs to visit.
  hr
  .row
    #blog.col-sm-9
      -var date = blogHome.date
        each val, index in blogHome
          h2= val.title
          h5 posted by
            span#author= ' ' + val.author
            span= ' on ' + moment(date).format("dddd, MMMM Do YYYY [at] HH:mm ")
          p!= val.body
    .col-sm-3
      h2 Announcements
      h3 Noah's Ark floats away
      p Due to the recent heavy rain the foundations holding Noah's Ark have given way resulting in the gigantic biblical structure to float away with all it's fake animals and oblivious young children caught inside. It is not clear if Noah was on board.
      p Religious groups are asking whether this is a sign of the end of the world...
      a.btn.btn-default(href='#', role='button') Read more »