extends layout

block content
  h1 The Park Island Hub
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-9
      h2 Donald Trump visits Park Island
      img(src='/images/trumpheli.jpg')
      p Donald Trump has made a surprise visit to Park Island sparking fear and chaos across the estate.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-3
      h2 Announcements
      h3 Noah's Ark floats away
      p Due to the recent heavy rain the foundations holding Noah's Ark have given way resulting in the gigantic biblical structure to float away with all it's fake animals, and oblivious young children caught inside.
      p
        a.btn.btn-default(href='#', role='button') View details »