.adminMenu {
display: inline-block;
list-style-type: none;
padding: 5px 5px;
margin: 10px 10px;
}

.adminMenu img{
  border: 1px solid white;
  margin-bottom: 1px;
}

.adminMenu img:hover{
  border: 1px solid black;
}

.transport .schedule{
  display: inline-block;
}



.schedule li{
  display: block;
  margin: 0px 5px;
  list-style-type: none;
}