.background {
  background-image: url(/images/parkisland-pool-blur.png);
}

img {
  max-width: 100%;
  height: auto;
}


/*align logo on homepage*/

.logo {
  margin-top: -10px;
  height: 40px;
}


/*for aligning the menu icons when admin logs in*/

.adminMenu {
  display: inline-block;
  list-style-type: none;
  padding: 5px 5px;
  margin: 10px 10px;
}

.adminMenu img {
  border: 1px solid white;
  margin-bottom: 1px;
}

.adminMenu img:hover {
  border: 1px solid black;
}

#schedule th {
  vertical-align: top;
  word-wrap: break-word;
  max-width: 100px;
}

.mode {
  text-transform: lowercase;
}

#countdownO,
#countdownD, .originDest {
  font-weight: bold;
}

#allPosts, #blog {
  overflow-y: auto;
  height: 500px;
}

#author {
  text-transform: capitalize;
}

.article {
  overflow-y: auto;
  height: 300px;
}


#schedule {
  overflow-y: auto;
  height: 600px;

}